*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Brush Script MT', cursive;

}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

.fix-me{
	position:fixed;
	top:400px;
}

body{
    background-image: url('./background.jpg');
    background-size: cover;
}

main{
    height: calc(100vh - 70px);
    display: flex;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#san--fran{
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
    text-align: center;
    background-image: url('./san--fran.jpg');
    background-size: cover;
}

#miami{
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
    text-align: center;
    background-image: url('./miami.jpg');
    background-size: cover;
    color: indianred;
}

#venice{
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
    text-align: center;
    background-image: url('./venice.jpg');
    background-size: cover;
}

.dropdown {
    display: inline-block;
    position: relative;
    margin-top:  10px;
  }
  .dropdown-content {
    display: none;
    background-color: whitesmoke;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
      display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: rgb(221, 255, 0);
    background-color: #00A4BD;
  }


a{
    color: black;
    font-size: 24px;
    font-weight:700;
}

p{
  font-size: 24px;
  color: #025829;
}

h1{
    font-weight: 1000;
    font-size:100px;
    color: black;
    text-align: center;
}

ul#episodes {
    float: left;
    margin:  0 10px;
    padding: 0;
    width: 35%;
  }

  ul#episodes > li {
    list-style-type: none;
  }

  button {
    border-radius:  50px;
    border: 0;
    background: #025829;
    color: rgb(210, 240, 75);
    padding:  8px 16px;
    margin:  0 0 3px 0;
    width: 100%;
    font-size:  24px;
    cursor: pointer;
  }

  #miami--button {
    background: rgb(22, 74, 122);
    color: indianred;
    padding:  8px 16px;
    font-size:  24px;
    width: 100%;
    cursor: pointer;

  }

  

#miami--font{
  color: indianred;
}

  button:hover {
    background: #1Db954;
  }

  nav{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    height: 100px;
    flex-direction: row-reverse;
}

#venice--font{
  color: rgb(14, 158, 134);
}

#venice--button{
  color: rgb(14, 158, 134);
  background-color: rgba(110, 73, 73, 0.993);
  padding:  8px 16px;
  font-size:  24px;
  width: 100%;
  cursor: pointer;
  border: none;
}
  #sanfran--font{
    color: rgb(93, 228, 228);
  }
#sanfran--button{
  color: rgb(93, 228, 228);
  background-color: rgba(153, 40, 40, 0.993);
  padding:  8px 16px;
  font-size:  24px;
  width: 100%;
  cursor: pointer;
  border: none;
}